/* Prettified by Source 2 Viewer 20.0.0.0 - https://valveresourceformat.github.io */

CitadelStatusEffect
{
	height: 32px;
	width: fit-children;
	vertical-align: top;
	horizontal-align: center;
}

.HideName CitadelStatusEffect
{
	margin-top: 20px;
}

.creature CitadelStatusEffect
{
	margin-bottom: 8px;
}

#HealthBarContent CitadelStatusEffect
{
	vertical-align: top;
	margin-top: 90px;
	margin-right: 110px;
	height: fit-children;
	z-index: 2;
}

#HealthBarContent #StatusEffectContainer
{
	flow-children: right;
	height: fit-children;
}

#LowerLeft CitadelStatusEffect
{
	margin-bottom: 200px;
	horizontal-align: left;
	margin-left: 20px;
	vertical-align: bottom;
}

CitadelStatusEffect.under_reticle
{
	horizontal-align: center;
	vertical-align: center;
	margin-left: 0px;
	margin-top: 230px;
	ui-scale: 130%;
}

CitadelStatusEffect.under_reticle #StatusEffectContainer
{
	horizontal-align: middle;
}

.gShopOpen CitadelStatusEffect
{
	visibility: collapse;
}

